*-backups
*.FCBak
*.FCStd1
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.html
*.kicad_sch-bak
*.lck
*.log
*.out
*.pdf
*.png
*.ps
*.run.xml
*.stl
*.toc
*.zip
*.~lock*
\#auto_saved_files\#
_autosave*

sw/cal/cal
sw/usbcom/usbcom
mech/gcode
